body {
    background-color: #fff;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

main {
    width: 100%;
    max-width: 82em;
    margin: auto;
}

/* Navigation Bar */
nav {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    position: relative;
}

.menu {
    height: 35px;
    width: 35px;
    display: none;
}

.logo {
    width: 96px;
    height: 50px;
}

.logo:hover {
    cursor: pointer;
}

.drop_down {
    color: #000;
    text-decoration: none;
    margin: 0 1em;
}

.drop_down:hover {
    color: #a435f0;
}

.search_bar {
    flex: 1;
    height: 50px;
    background-color: #f7f9fa;
    border: 1.5px solid black;
    padding: 0 10px;

    border-radius: 5em;

    display: flex;
    align-items: center;
}

.search_bar button {
    background: none;
    border: none;
}

.search_icon {
    width: 1.6em;
    height: 1.6em;
    padding-right: 1em;
}

.search_box {
    width: 100%;
    height: 50px;
    border: none;
    background: none;
}

.search_box:focus  {
    outline: none;
}

#search_submit {
    background: none;
    border: none;
    font-family: Cairo;
    font-size: 1em;
}

#search_submit:hover{
    color: #a435f0;
    cursor: pointer;
}

.cart {
    width: 22px;
    height: 22px;
    margin: 5px 1em 0 0;
}

.cart:hover,
.search_icon:hover {
    filter: invert(45%) sepia(42%) saturate(5827%) hue-rotate(236deg) brightness(91%) contrast(89%);
}

.log_in {
    padding: 0 15px;
    height: 40px;
    background-color: #fff;
    color: #000;
}

.log_in:hover,
.lang:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

.sign_up {
    width: 80px;
    height: 40px;
    background-color: #1c1d1f;
    color: #fff;
}

.sign_up:hover {
    background-color: #000;
    cursor: pointer;
}

.lang {
    width: 40px;
    height: 40px;
    padding: 10;
    background-color: #fff;
    color: #000;
}

.custom_button {
    font-weight: 700;
    margin-right: 1em;
}

/* Header */
header {
    background-color: #f8f9fb;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.outer {
    /* width: 100%; */
    background-color: #f8f9fB;
}
.watch {
    max-width: 50%;
}

.inner_card {
    height: 190px;
    background-color:#fff;
    padding: 24px;
    margin: 70px;
    box-shadow:0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
}

/* Courses section */
.explore {
    padding: 1.5em;
    font-size: 1em;
}

.explore h2{
    margin-bottom: 0;
}

.explore p{
    margin-top: 0;
}

.tracks {
    padding: 0;
    display: flex;
}

.tracks li {
    padding-right: 3em;
    list-style: none;
    font-weight: bold;
    color: #6a6f73;
}

.tracks li:hover {
    color: #1c1d1f;
    cursor: pointer;
}

.card {
    border: 2px solid #d1d7dc;
    padding: 0 2em;
}

.explore_button {
    height: 40px;
    font-weight: 700;
    margin-right: 1em;
    background-color: #fff;
    color: #000;
}

.explore_button:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.courses {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.courses li {
    max-width: 16em;
    line-height: 22px;
}

.courses img {
    width: 240px;
    height: 135px;
    border: 1px solid #d1d7dc;
}

.courses li:hover {
    cursor: pointer;
}

.courses .title{
    margin-top: 0;
    margin-bottom: 0;
}

.courses h4 {
    margin-top: 5px;
    color: #6a6f73;
    font-weight: 400;
    margin-bottom: 0;
}

.courses .price {
    margin-top: 5px;
    margin-bottom: 40px;
}

/* Other screens */
@media only screen and (max-width: 820px)  {
    main {
        width: 100%;
    }
    .drop_down,
    .custom_button,
    .search_bar,
    .cart {
        display: none;
    }

    .menu {
        display: inline;
    }

    .logo {
        margin: 0 1em 0 auto;
    }

    header {
        flex-direction: column;
    }

    .watch {
        height: 230px;
    }

    .outer {
        margin: auto auto;
    }
    .inner_card {
        margin: 0;
    }

    .tracks {
        flex-wrap: wrap;
    }
}
