body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

main {
    width: 82em;
    margin: auto;
}

nav {
    background-color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    box-shadow: 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    position: relative;
}

.logo {
    width: 96px;
    height: 50px;
}
.logo:hover {
    cursor: pointer;
}

.drop_down {
    color: #000000;
    text-decoration: none;
    margin: 0 1em;
}

.drop_down:hover {
    color: #A435F0;
}


.search_bar {
    flex: 1;
    height: 50px;
    background-color: #F7F9FA;
    border: 1.5px solid black;
    padding: 0px 10px;

    border-radius: 5em;

    display: flex;
    align-items: center;
}
.search_bar button {
    background: none;
    border: none;
}

.search_icon {
    width: 1.6em;
    height: 1.6em;
    padding-right: 1em;
}

.search_box {
    width: 100%;
    height: 50px;
    border: none;
    background: none;
}
.search_box:focus  {
    outline: none;
}

#search_submit {
    background: none;
    border: none;
    font-family: Cairo;
    font-size: 1em;
}

#search_submit:hover{
    color: #A435F0;
    cursor: pointer;
}

.cart {
    width: 22px;
    height: 22px;
    margin: 5px 1em 0 0;
}
.cart:hover, .search_icon:hover {
    filter: invert(45%) sepia(42%) saturate(5827%) hue-rotate(236deg) brightness(91%) contrast(89%);
}

.log_in {
    padding: 0 15px;
    height: 40px;
    background-color: #FFFFFF;
    color: #000000;
}

.log_in:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.sign_up {
    width: 80px;
    height: 40px;
    background-color: #1C1D1F;
    color: #FFFFFF;
}

.sign_up:hover {
    background-color: #000000;
    cursor: pointer;
}

.lang {
    width: 40px;
    height: 40px;
    padding: 10;
    background-color: #FFFFFF;
    color: #000000;
}

.custom_button {
    font-weight: 700;
    margin-right: 1em;
}


header {
    display: flex;
    flex-direction: row-reverse;
}
.outer {
    width: 41em;
    background-color: #F8F9FB;
    /* background-color: #A435F0; */
}

.inner_card {
    width: 390px;
    height: 190px;
    background-color:#FFFFFF;
    padding: 24px;
    margin: 70px;
    box-shadow:0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
}

.explore {
    padding: 24px;
}

.explore h2{
    margin-bottom: 0;
}
.explore p{
    margin-top: 0;
}

.tracks {
    padding: 0px;
    display: flex;
}

.tracks li {
    padding-right: 3em;
    list-style: none;
    font-weight: bold;
    color: #6A6F73;
}

.tracks li:hover {
    color: #1C1D1F;
    cursor: pointer;
}

#div59 {
    border: 2px solid #D1D7DC;
    padding: 0 2.5em;
}

#div59 p {
    margin-right: 10em;
}

.courses {
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.courses li {
    max-width: 16em;
    line-height: 22px;
}

.courses img {
    border: 1px solid #D1D7DC;
}
.courses li img:hover {
    cursor: pointer;
}

.courses .title{
    margin-top: 0;
    margin-bottom: 0;
}

.courses h4 {
    margin-top: 5px;
    color: #6A6F73;
    font-weight: 400;
    margin-bottom: 0px;
}

.courses .price {
    margin-top: 5px;
    margin-bottom: 40px;
}
@media (max-width: 1205px) {
    main {
        width: 1205px;
    }
    #div59 {
        width: 90%;
    }
}
@media (max-width: 1065px) {
    main {
        width: 1065px;
    }
    #div59 {
        width: 90%;
    }
}
@media (max-width: 900px)  {
    main {
        width: 900px;
    }
    .drop_down {
        display: none;
    }
    .custom_button {
        display: none;
    }
    .search_bar{
        display: none;
    }
    .cart{
        display: none;
    }
    header {
        background-color: #F8F9FB;
        flex-direction: column;
    }
    header img {
        width: 50em;
        height: 300px;
    }
    .outer {
        margin: auto auto;
    }
    #div59 {
        width: 85%;
    }
    .tracks {
        flex-wrap: wrap;
    }
}